<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center">
    <a class="f4 fw4 hover-white white-70 dib pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}">
      &copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
    </a>
    <div class="flex items-center">
      {{ partials.IncludeCached "social/follow.html" . }}
      <span class="f7 white-50 ph3">Conçu et réalisé par <a class="white-50 hover-white" href="https://armanddelessert.github.io/"><strong>Armand Delessert</strong></a>. Généré le {{ now.Format "02.01.2006 à 15:04:05" }}.</span>
    </div>
  </div>
</footer>
